<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558499389370-8t1lsfbkf4r2cprovmik0kn30qno4pmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558499389370-8t1lsfbkf4r2cprovmik0kn30qno4pmv</string>
	<key>API_KEY</key>
	<string>AIzaSyAqoBcLpmMduecsoygACrFnuAPCr6TBe-s</string>
	<key>GCM_SENDER_ID</key>
	<string>558499389370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>grabacoffee-57dd1</string>
	<key>STORAGE_BUCKET</key>
	<string>grabacoffee-57dd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558499389370:ios:ac01399ba729f6102fc783</string>
	<key>DATABASE_URL</key>
	<string>https://grabacoffee-57dd1.firebaseio.com</string>
</dict>
</plist>